body {}

.home-section-left {
    padding-right: 250px;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 20px;
    background-color: var(--color-bg-tertiary);
    /*border: 1px solid black;*/
    border-radius: var(--radius);
}

.home-section-left-div-articles {
    height: 100%;
    width: 90%;
    padding: 20px;
    font-size: var(--font-sz-md);
    text-align: justify;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border: 10px solid var(--color-bg-quaternary);
}

.home-section-left-article {
    display: none;
    /*Initial opacity set to 0, updated to 1 in JavaScript*/
    opacity: 0;
    transition: opacity 1s ease, color 1s ease;
}

.home-section-left-aside-sidebar {
    width: 10%;
    min-width: 10rem;
    margin-top: 20px;
    font-size: var(--font-sz-sm);
    /*border: 10px solid var(--color-bg-quaternary);*/
}

.home-section-left-aside-sidebar-nav {
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    /*border: 1px solid black;*/
}

.home-section-left-aside-sidebar-nav-ul {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    /*border: 1px solid black;*/
}

.home-section-left-aside-sidebar-nav-ul-li-tab {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    /*border: 1px solid black;*/
}


.home-section-left-aside-sidebar-nav-ul-li-tab > hr {
    flex: 0 1 auto;
    width: 10px;
    height: 1px;
    margin-right: 10px;
    transition: flex-grow 0.4s ease;
    border: 1px solid var(--color-disabled);
}


.home-section-left-aside-sidebar-nav-ul-li-tab:hover {
    justify-content: flex-end;    
}

.home-section-left-aside-sidebar-nav-ul-li-tab:hover > hr {
    flex-grow: 1;
    border-color: var(--color-hover);
}

.home-section-left-aside-sidebar-nav-ul-li-tab:hover > a {
    color: var(--color-hover);
}

.home-section-left-aside-sidebar-nav-ul-li-tab:focus {
    color: var(--color-focus);
}

.home-section-left-aside-sidebar-nav-ul-li-tab:active {
    color: var(--color-active);
}

.home-section-left-aside-sidebar-nav-ul-li-tab > a {
    margin-right: auto;
    text-decoration: none;
    color: var(--color-disabled);
    transition: color 0.3s ease;
    /*border: 1px solid black;*/
}

.home-section-left-aside-sidebar-nav-ul-li-tab.selected {
    justify-content: flex-end;    
}

.home-section-left-aside-sidebar-nav-ul-li-tab.selected > hr {
    /*Initial flex-grow set to 0, updated to 1 in JavaScript*/
    flex-grow: 0;
    border-color: var(--color-hover);
}

.home-section-left-aside-sidebar-nav-ul-li-tab.selected > a {
    color: var(--color-hover);
}

.home-section-left-aside-sidebar-nav-ul-li-icon > i {
    color: var(--color-disabled);
    /*Initial opacity set to 0, updated to 1 in JavaScript*/
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.home-section-left-aside-sidebar-nav-ul-li-icon > i {
    color: var(--color-disabled);
}

.home-section-left-aside-sidebar-nav-ul-li-icon > i:hover {
    color: var(--color-hover);
}

.home-section-left-aside-sidebar-nav-ul-li-icon > i:focus {
    color: var(--color-focus);
}

.home-section-left-aside-sidebar-nav-ul-li-icon > i:active {
    color: var(--color-active);
}

.home-section-right {
    width: 20%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.home-section-right-img {
    width: 150%;
    border-radius: 10px;
    transform: translateX(-100px);
    transition: transform 0.5s ease;
}


